﻿@using Casep.Helper.Resources
@model Casep.Models.NewsDetailsModel

@{
    ViewBag.Title = Model.Post.Title;
}
<div class="clearfix"></div>
<div class="wrapper">
    <section>
        <h2>@ViewBag.Title</h2>
    </section>

    <div class="list-news">
        @Html.DisplayTextFor(m => m.Post.Description)

        <div class="clearfix"></div><hr />
        @Html.ActionLink(Messages.ВернутьсяНазад, "Index", "Posts")
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $("#headmenu-3").attr("class", "active");
    </script>
}