/* HEADER */
.header-main-bg {
    
}
.header {
    padding: 15px 0 0px 25px;
    margin-top: 26px !important;
    background: url(../images/Casep/demo/casep_02.png) repeat-x;
    height: 122px;
    border-bottom: 1px solid #1B1C2B;
}
.header > a > .logo {
    float: left;
}
.header a:hover {
    color: #FFCB05;
    text-decoration: none
}
.header > .link_flag {
    float: right;
    margin-right: 10px;
}
.header > .CasepText {
    color: #fff;
    -ms-text-shadow: 2px 0 1px #000;
    text-shadow: 2px 0 1px #000;
    font-size: 1.3em;
    float: left;
    font-weight: 100;
    line-height: 140%;
    margin: 30px 0 0 30px;
}
.list-news .allnews {
    float: right;
    font-size: 15px;
    font-weight: bold;
    color: #004882;
    margin-right: 20px;
}
div.header > span {
    float: right;
    color: #fff;
    font-size: 2.6em;
    font-weight: bold;
    -ms-text-shadow: 2px 0 1px #000;
    text-shadow: 2px 0 1px #000;
    margin-right: 7%;
    line-height: 250%;
}
.header-main {
    background: url("../images/Casep/menu-bg.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    padding: 6px 0 0px 0;
}
.header-main > li{	
    background: url("../images/Casep/menu-bg.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    margin-right: -4px;
    margin-top: -6px;
    padding: 6px 0;
    text-align: center;
}
.header-main li:hover > .submenu {
    display: block
}
.header-main li > .submenu {
    position: absolute;
    display: none;
    margin: 6px 0px 0px 2px;
    width: 100%;
    
}
.header-main li > .submenu li {
    display: block;
    color: white;
    clear: both;
    -moz-min-width: 160px;
    -ms-min-width: 160px;
    -o-min-width: 160px;
    -webkit-min-width: 160px;
    min-width: 160px;
}
.header-main li > .submenu li > a {
    background: url("../images/Casep/menu-bg.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    width: 98.6%;
    padding: 3px 0;
    color: #FFF;
}
.header-main li > .submenu li > a:hover {
    background: url(../images/Casep/bg-hover.gif) repeat-x;
    color: #000;
    text-decoration: none
}
#headmenu-7 {
    padding: 9px 3.65em !important;
}

.header-main > li > a{
    background: url("../images/Casep/menu-sep.gif") no-repeat scroll left -2px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font-size: 12px;
    margin-left: 0;
    padding: 9px 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.header-main li a.active{
	background: url(../images/Casep/bg-active.gif) repeat-x;
    color: #000;
}
.header-main li a.active
.header-main li a.active:hover {
    background: url(../images/Casep/bg-active.gif) repeat-x !important;
}
.header-main li a:hover{
	background: url(../images/Casep/bg-hover.gif) repeat-x;
    color: #000;
}
.language {
    float: right;
}
.language > div { 
    float: left;
    margin-right: 10px;
}
.language > div > a {
    color: #fff;
}
.events {
    width: 246px;
    float: right;
    margin-top: 15px;
    margin-right: 2px;
}
.flags {
    margin-top: -9px !important;
    margin-right: 2px !important;
    background: none !important;
}
.eventDetails {
    background: #FFF;
    margin-top: -5px;
    width: 223px;
    border: 1px solid #CCC;
    border-top: none;
    padding: 0 10px;
    padding-bottom: 8px;
    min-height: 30px;
    -webkit-box-shadow: 1px 0 5px 0px #111;
    -ms-box-shadow: 1px 0 5px 0px #111;
    box-shadow: 1px 0 5px 0px #111;
}
.eventDetails .qoutes {
    height: 65%;
}
.detailsEvent {
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}
.events > .menu-info-head{	
    background-color: #1b5898;
    color: #FFF;
    font-size: 18px;
    padding: 5px 5px 5px 15px;
}
.about {
    background: #9a9a9a;
    text-align: center;
}
.about a:hover {
    text-decoration: none
}
.about > a > .casep {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    margin-top: 8px;
}
.about > a > .present{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
}
/* NEWS */
.head-news {
    -ms-text-shadow: 0px 0px #000;
    text-shadow: 0px 0px #000;
    width: 352px;
    color: #396693;
    background: url(../images/Casep/demo/casep_18.png) repeat-x;
    font-size: 18px;
    -webkit-box-shadow: 1px 0 5px 0px #111;
    -ms-box-shadow: 1px 0 5px 0px #111;
    box-shadow: 1px 0 5px 0px #111;
    border-top: 1px solid #F1F1F1;
    padding: 5px 0 5px 15px;
}

.list-news {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 7px 0px #111;
    -ms-box-shadow: 0px 2px 7px 0px #111;
    box-shadow: 0px 2px 7px 0px #111;
}

.news{
    width: 327px;
 	font-size: 13px;
	border-top: 1px solid #929fc7;
	padding: 7px 20px 7px 20px;
}
.date-news{
    float: left;
    margin-top: 5px;
    font-size: 12px;
    color: #000;
    background: #e4e4e4;
    line-height: 12px;
}
.news > .title {
    font-size: 16px;
    color: #004882;
    font-weight: bold;
    margin: 5px 0;
}
.more-news {
	background: url(../images/Casep/go_to_18.png) no-repeat left 0.57em;
	padding-left: 10px;
    float: right;
	font-size: 12px;
	text-decoration: none;
	color: #a1acdb;
}
.wrapper {
}
.events-list span{
    margin-right: 10px;
    float: left;
    font-weight: bold;
    font-size: 15px;
}
.contact label{
    cursor: auto !important;
    font-size: 15px;
}
.wrapper > section {
    background: #505050 url(../images/Casep/star.gif) no-repeat 20px 11px;
    padding-left: 50px;
}
.wrapper > section > h2 {
    font-weight: 100;
    color: #fff
}
.wrapper > .list-news {
    border: 1px solid #999;
    padding: 20px;
}
.wrapper > .list-news > .date {
    background-color: #E4E4E4;
    color: #2D2D2D;
    padding: 1px 3px;
    font-size: 0.85em; 
    float: left;
}
.wrapper > .list-news > ._title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
.nn {
    float: left;
    width: 525px;
}
.nn > .list-news {
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important
}

.left-list-news {
    padding: 25px 15px 0 15px;
    float: left;
    height: 800px;
    margin-top: 11px;
    width: 187px;
    background: #b9cde5;
    text-align: center;
}
.left-list-news a {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}
/* DIRECTORS */
.visit-menu{
	background-color: #e3ebf4;
}

.visit-menu > .visit-main {
    color: #24408F;
    margin-top: 0 !important;
    padding: 15px 0 0 0;
    text-align: center;
}

.line{
	border-bottom: 2px solid #24408f; 
}

.visit-menu > .foto{
	margin-left: 10px;
	float: left;
}

.visit-menu > .name{
    float: left;
    margin-left: 20px;
    max-width: 100px;
}

.visit-menu > .go-to{
	margin-left: 10px;
    padding-bottom: 10px;
}
.visit-menu > .go-to a {
	padding-left: 10px;
	background: url(../images/Casep/go_to_18.png) no-repeat left 7px;
	text-decoration: none;
}

.menu-info {
    float: left;
    width: 400px;
}
.menu-info-head{	
    background-color: #528600;
    color: #FFF;
    font-size: 18px;
    padding: 5px 5px 5px 15px;
}

.text-info{
	font-size: 14px;
}

.text-a{
	color: #f5670a;
	text-decoration: none;
}

.content-right{
	float: left;
	margin-left: 29px;
	margin-top: 48px; 
}
.name-foto{
	float: left;
}

.parnters {
    background: #FFF;
    padding: 10px
}
.parnters img{
 	margin-right: 10px;
     margin-left: 16px;
}

.footer-menu{
	background: #666666;
	border: 1px solid #666666;
	height: 20px;
	color: #fff;
    padding: 3px 0 3px 5px;
}

/* NEW HEAD */
.new-head {
    background: url(../images/Casep/new-head.png) no-repeat;
    height: 165px;
}
.new-head > .casep {
    width: 437px;
    height: 100%;
    float: left;
}