
#slider1prev, #slider1next{ overflow:hidden; text-indent:-8000px; }
			
#slider-container{ position: relative }			

#slider ul, #slider li { margin:0; padding:0; list-style:none; }

#slider li{ width:400px; height:241px; overflow:hidden; }

.active_slider #slider1next, .active_slider #slider1prev { display: block !important }
    	
#prevBtn, #nextBtn, #slider1next, #slider1prev{ display:none; width:30px; height:77px; position:absolute; top:71px; z-index:1000; }

#nextBtn, #slider1next { left: 370px; }

#prevBtn a, #nextBtn a, #slider1next a, #slider1prev a{ display:block; position:relative; width:30px; height:77px; background:url(../Images/Casep/slider/btn_prev.gif) no-repeat 0 0;	}	

#nextBtn a, #slider1next a{ background:url(../Images/Casep/slider/btn_next.gif) no-repeat 0 0; }