﻿@model Casep.Domain.Entities.Post

@{
    ViewBag.Title = "Create news";
}
<section>
    <h1>@ViewBag.Title</h1>
</section>
<hr class="soften">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <fieldset class="form-horizontal">
        <legend>Create news</legend>
        <div class="tabbable" style="margin-bottom: 18px;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Русский</a></li>
                <li><a href="#tab2" data-toggle="tab">English</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.TitleRus)
                            @Html.TextBoxFor(m => m.TitleRus)
                            @Html.ValidationMessageFor(m => m.TitleRus, null, new { @class = "help-inline" })
                        </li>
                        <li>
                            @Html.LabelFor(m => m.MiniDescriptionRus)
                            @Html.EditorFor(m => m.MiniDescriptionRus)
                            @Html.ValidationMessageFor(m => m.MiniDescriptionRus, null, new { @class = "help-inline" })
                        </li>
                        <li>
                            @Html.LabelFor(m => m.DescriptionRus)
                            @Html.EditorFor(m => m.DescriptionRus)
                            @Html.ValidationMessageFor(m => m.DescriptionRus, null, new { @class = "help-inline" })
                        </li>
                    </ol>
                </div>
                <div class="tab-pane" id="tab2">
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.TitleEng)
                            @Html.TextBoxFor(m => m.TitleEng)
                            @Html.ValidationMessageFor(m => m.TitleEng, null, new { @class = "help-inline" })
                        </li>
                        <li>
                            @Html.LabelFor(m => m.MiniDescriptionEng)
                            @Html.EditorFor(m => m.MiniDescriptionEng)
                            @Html.ValidationMessageFor(m => m.MiniDescriptionEng, null, new { @class = "help-inline" })
                        </li>
                        <li>
                            @Html.LabelFor(m => m.DescriptionEng)
                            @Html.EditorFor(m => m.DescriptionEng)
                            @Html.ValidationMessageFor(m => m.DescriptionEng, null, new { @class = "help-inline" })
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        @**@
        <div class="bs-docs-example">
            <button type="submit" class="btn btn-primary">Save</button>
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
        </div>
    </fieldset>
}

@section Scripts {
    <script src="~/Scripts/ckeditor_4.3.2_full/ckeditor/ckeditor.js"></script>
    @*<link href="~/Content/raptor-front-end.css" rel="stylesheet" />
    <script src="~/Scripts/raptor.js"></script>*@
    @*<script type="text/javascript">
        jQuery(function($) {
            $('#DescriptionRus').raptor();
        })
    </script>*@

    <script type="text/javascript">
        CKEDITOR.replace('MiniDescriptionEng');
        CKEDITOR.replace('DescriptionRus');
        CKEDITOR.replace('MiniDescriptionRus');
        CKEDITOR.replace('DescriptionEng');
    </script>
}