﻿@model Casep.Domain.Entities.Post

@{
    ViewBag.Title = "Details news";
}

<h2>@ViewBag.Title</h2>

<ol>
    <li>
        @Html.LabelFor(m=>m.TitleRus)
        @Html.DisplayFor(m=>m.TitleRus)
    </li>
    <li>
        @Html.LabelFor(m=>m.DescriptionRus)
        @Html.DisplayTextFor(m=>m.DescriptionRus)
    </li>
</ol>
@Html.ActionLink("Back to news", "Index", "Post", new { @class="btn"})
