﻿@model IEnumerable<Casep.Domain.Entities.Post>

@{
    ViewBag.Title = "News";
}

<section>
    <h1>@ViewBag.Title</h1>
</section>
<hr class="soften">
@using (Html.BeginForm())
{
    @Html.ActionLink("Add News", "Create", "Post", new { @class = "btn btn-info white fl-r text-decor-none" })
    <table class=" table table-striped">
        <thead>
            <tr>
                <th>№</th>
                <th>Title</th>
                <th>Description</th>
                <th>Tools</th>
            </tr>
        </thead>
        <tbody>
            @{ var index = 1; }
            @foreach (var m in Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@m.TitleEng</td>
                    <td>@m.MiniDescriptionEng</td>
                    <td>@(m.IsActive
                              ? Html.ActionLink("Deactivate", "TurnOnOff", new { id = m.Id, status = false }, new { @class = "btn btn-warning white", style = "padding: 1px 6px; margin-right: 3px" })
                              : Html.ActionLink("Activate", "TurnOnOff", new { id = m.Id, status = true }, new { @class = "btn btn-success white", style = "padding: 1px 13px; margin-right: 3px" }))
                        <div class="btn-group">
                            <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Details", "Details", new { id = m.Id })</li>
                                <li>@Html.ActionLink("Edit", "Edit", new { id = m.Id })</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Delete", "Delete", new { id = m.Id })</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                index++;
            }
        </tbody>
    </table>
}
<hr class="soften">
