﻿@model Casep.Domain.Entities.Link

@{
    ViewBag.Title = "Add link";
}

<section>
    <h1>@ViewBag.Title</h1>
</section>
<hr class="soften">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset class="form-horizontal">
        <legend>@ViewBag.Title</legend>
        <div>
            @Html.LabelFor(m => m.Url)
            @Html.TextBoxFor(m => m.Url)
            @Html.ValidationMessageFor(m => m.Url, null, new { @class = "help-inline" })
        </div>
        <div class="tabbable" style="margin-bottom: 18px;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Русский</a></li>
                <li><a href="#tab2" data-toggle="tab">English</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.NameRus)
                            @Html.TextBoxFor(m => m.NameRus)
                            @Html.ValidationMessageFor(m => m.NameRus, null, new { @class = "help-inline" })
                        </li>
                    </ol>
                </div>
                <div class="tab-pane" id="tab2">
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.NameEng)
                            @Html.TextBoxFor(m => m.NameEng)
                            @Html.ValidationMessageFor(m => m.NameEng, null, new { @class = "help-inline" })
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="bs-docs-example">
            <button type="submit" class="btn btn-primary">Save</button>
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
        </div>
    </fieldset>
}