﻿@model IEnumerable<Casep.Domain.Entities.Link>

@{
    ViewBag.Title = "Links";
}

<section>
    <h1>@ViewBag.Title</h1>
</section>
<hr class="soften">
@using (Html.BeginForm())
{
    @Html.ActionLink("Add link", "Create", null, new { @class = "btn btn-info white fl-r text-decor-none" })
    <table class=" table table-striped">
        <thead>
            <tr>
                <th>№</th>
                <th>Name</th>
                <th>Url</th>
            </tr>
        </thead>
        <tbody>
            @{ var index = 1; }
            @foreach (var m in Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@m.NameEng</td>
                    <td>@m.Url</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Edit", "Edit", new { id = m.Id })</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Delete", "Delete", new { id = m.Id })</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                index++;
            }
        </tbody>
    </table>
}
<hr class="soften">