﻿@model Casep.Admin.Models.EventModel
 @Html.AntiForgeryToken()
    
    <fieldset class="form-horizontal">
        <legend>Create event</legend>
        <div class="tabbable" style="margin-bottom: 18px;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Русский</a></li>
                <li><a href="#tab2" data-toggle="tab">English</a></li>
                <li><a href="#tab3" data-toggle="tab">Date start/end</a></li>
                <li><a href="#tab4" data-toggle="tab">Attach files</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <ol>
                        <li>
                            @Html.Label("Заголовок")
                            @Html.TextBoxFor(m => m.TitleRu)
                            @Html.ValidationMessageFor(m => m.TitleRu, null, new { @class = "help-inline" })
                        </li>                        
                        <li>
                            @Html.Label("Страна")
                            @Html.TextBoxFor(m => m.CountryRu)
                            @Html.ValidationMessageFor(m => m.CountryRu, null, new { @class = "help-inline" })
                        </li>
                        <li>
                            @Html.Label("Место проведения")
                            @Html.TextBoxFor(m => m.LocationRu)
                            @Html.ValidationMessageFor(m => m.LocationRu, null, new { @class = "help-inline" })
                        </li>                        
                    </ol>
                </div>
                <div class="tab-pane" id="tab2">
                    <ol>
                        <li>
                            @Html.Label("Title")
                            @Html.TextBoxFor(m => m.TitleEn)
                            @Html.ValidationMessageFor(m => m.TitleEn, null, new { @class = "help-inline" })
                        </li>                        
                        <li>
                            @Html.Label("Country ")
                            @Html.TextBoxFor(m => m.CountryEn)
                            @Html.ValidationMessageFor(m => m.CountryEn, null, new { @class = "help-inline" })
                        </li>
                        <li>
                            @Html.Label("Location ")
                            @Html.TextBoxFor(m => m.LocationEn)
                            @Html.ValidationMessageFor(m => m.LocationEn, null, new { @class = "help-inline" })
                        </li>                        
                    </ol>
                </div>
                <div class ="tab-pane" id="tab3">
                    <ol>
                        <li>
                            @Html.Label("Date start")
                            @Html.TextBoxFor(m => m.DateEventStart, null, new { @class = "calendarClassEn" })
                            @Html.ValidationMessageFor(m => m.DateEventStart, null, new { @class = "help-inline" })
                        </li>
                        <li>
                            @Html.Label("Date end")
                            @Html.TextBoxFor(m => m.DateEventEnd, null, new { @class = "calendarClassEn" })
                            @Html.ValidationMessageFor(m => m.DateEventEnd, null, new { @class = "help-inline" })
                        </li>                    
                    </ol>
                </div>
                <div class ="tab-pane" id="tab4">
                    <div id="ReadyDocuments">
                        @if (Model.Documents.Any())
                        {
                            <table class=" table table-striped">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Title</th>                                                                                                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var index = 1; }
                                    @foreach (var m in Model.Documents)
                                    {
                                        <tr>
                                            <td>@index</td>
                                            <td>@m.Title</td>                                                                                                                             
                                            <div class="btn-group">
                                                <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                                                <ul class="dropdown-menu">                                                    
                                                    <li>@Html.ActionLink("Delete", "DeleteFile", new { id = m.Id })</li>
                                                    <li>@Html.ActionLink("Download", "DownloadFile", new { id = m.Id })</li>
                                                </ul>
                                            </div>
                                        </tr>
                                        index++;
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    <div id="fileContainer">                        
                    </div>
                    <button type="button" class="btn btn-primary" onclick="AddFileBlock();">+</button>
                </div>
            </div>
        </div>
        @**@
        <div class="bs-docs-example">
            <button type="submit" class="btn btn-primary">Save</button>
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
        </div>
    </fieldset>