﻿@model Casep.Admin.Models.BaseDocumentModel
 @Html.AntiForgeryToken()
    
    <fieldset class="form-horizontal">
        <legend>Create event</legend>
        <div class="tabbable" style="margin-bottom: 18px;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Description file</a></li>
                <li><a href="#tab2" data-toggle="tab">Attach</a></li>                
            </ul>
            
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <ol>
                        <li>
                            @Html.Label("Описание(ru)")
                            @Html.TextBoxFor(m => m.DescriptionRu)
                            @Html.ValidationMessageFor(m => m.DescriptionRu, null, new { @class = "help-inline" })
                        </li>                        
                        <li>
                            @Html.Label("Описание(en)")
                            @Html.TextBoxFor(m => m.DescriptionEn)
                            @Html.ValidationMessageFor(m => m.DescriptionEn, null, new { @class = "help-inline" })
                        </li>                                        
                    </ol>
                </div>                
                <div class ="tab-pane" id="tab2">                    
                    <ol>                        
                        <li>
                            <label for="DocumentRu.File">File(ru)</label>
                            <input type="file" name="DocumentRu.File" data-val-required="Required the field File" data-val="true">
                        </li>
                    </ol>
                    <ol>                        
                        <li>
                            <label for="DocumentEn.File">File(en)</label>
                            <input type="file" name="DocumentEn.File" data-val-required="Required the field File" data-val="true">
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="bs-docs-example">
            <button type="submit" class="btn btn-primary">Save</button>
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
        </div>
    </fieldset>