﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Administrative part</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        
        <!-- Start JavaScript -->
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        <script src="/Scripts/jquery.js"></script>
        <script src="/Scripts/google-code-prettify/prettify.js"></script>
        <script src="/Scripts/bootstrap-transition.js"></script>
        <script src="/Scripts/bootstrap-alert.js"></script>
        <script src="/Scripts/bootstrap-modal.js"></script>
        <script src="/Scripts/bootstrap-dropdown.js"></script>
        <script src="/Scripts/bootstrap-scrollspy.js"></script>
        <script src="/Scripts/bootstrap-tab.js"></script>
        <script src="/Scripts/bootstrap-tooltip.js"></script>
        <script src="/Scripts/bootstrap-popover.js"></script>
        <script src="/Scripts/bootstrap-button.js"></script>
        <script src="/Scripts/bootstrap-collapse.js"></script>
        <script src="/Scripts/bootstrap-carousel.js"></script>
        <script src="/Scripts/bootstrap-typeahead.js"></script>
        <script src="/Scripts/bootstrap-affix.js"></script>
        <script src="/Scripts/application.js"></script>
        <script src="/Scripts/superfish.js" type="text/javascript"></script>
        <script src="/Scripts/custom.js" type="text/javascript"></script>
        <!-- End JavaScript -->

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Casep", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Users", "Index", "User")</li>
                            <li>@Html.ActionLink("Events", "Index", "Activity")</li>
                            <li>@Html.ActionLink("Documents", "Index", "DocumentBase")</li>
                            <li>@Html.ActionLink("News", "Index", "Post")</li>
                            <li>@Html.ActionLink("Links", "Index", "Link")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Casep. All rights reserved.</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
@section Scripts {
    
}
</html>
