﻿@using Casep.Helper.Resources
@model Casep.Models.AboutModel
@{
    ViewBag.Title = Messages.CasepЭтоЧто;
}

<div class="clearfix"></div>
<div class="wrapper">
    <section>
        <h2>@ViewBag.Title</h2>
    </section>

    <div class="list-news">
        @Html.DisplayTextFor(m => m.About.AboutText)
    </div>
    
    <section>
        <h2>@Messages.Команда</h2>
    </section>
    <div class="list-news">
        @Html.DisplayTextFor(m => m.About.Team)
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $("#headmenu-2").attr("class", "active");
    </script>
}