﻿@using Casep.Helper.Resources
@using PagedList.Mvc
@model Casep.Models.BasesDocumentModel
@{
    ViewBag.Title = Messages.БДДокументов;
}
<div class="wrapper">
    <section>
        <h2>@ViewBag.Title</h2>
    </section>

    <div class="list-news">
        <section class="contact">
            <header>
                <div id="ReadyDocuments">
                    @if (Model.BasesDocument.Any())
                    {
                        <table class=" table table-striped">
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>@Messages.TitleDocument</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var index = 1; }
                                @foreach (var document in Model.BasesDocument)
                                {
                                    <tr>
                                        <td>@index</td>
                                        <td>@Html.ActionLink(document.Description, "DownloadFile", new { id = document.Document.Id })</td>
                                    </tr>
                                    index++;
                                }
                            </tbody>
                        </table>
                    }
                    @if (ViewBag.ShowPagging)
                    {
                        @Html.PagedListPager(Model.BasesDocument, page => Url.Action("BasesDocument", new {page}))
                    }
                </div>
            </header>

        </section>
    </div>
</div>
@section scripts{
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
        $("#headmenu-5").attr("class", "active");
</script>
}
