﻿@using Casep.Helper.Resources
@model Casep.Models.AboutModel
@{
    ViewBag.Title = Messages.Контакты;
}
<div class="clearfix"></div>
<div class="wrapper">
    <section>
        <h2>@ViewBag.Title</h2>
    </section>

    <div class="list-news">
        @Html.DisplayTextFor(m=>m.About.Contacts)
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $("#headmenu-6").attr("class", "active");
    </script>
}