﻿@using System.Globalization
@using Casep.Helper.Resources
@model Casep.Models.DetailsEvent
@{
    ViewBag.Title = Model.Activitys.Title;
}

<div class="clearfix"></div>
<div class="wrapper">
    <section>
        <h2>@ViewBag.Title</h2>
    </section>

    <div class="list-news">
        <section class="contact">
                <div class="events-list">
                    <span>@Messages.ДатаНачала :</span> @Html.Label(Model.Activitys.DateEventStart.ToString(CultureInfo.InvariantCulture))
                    <span>@Messages.ДатаЗавершения :</span>@Html.Label(Model.Activitys.DateEventEnd.ToString(CultureInfo.InvariantCulture))
                    <span>@Messages.Страна :</span>@Html.Label(Model.Activitys.Country)
                    <span>@Messages.Местопроведения :</span>@Html.Label(Model.Activitys.Location)
                    <span>@Messages.Заголовок :</span>@Html.Label(Model.Activitys.Title)
                    <div id="ReadyDocuments">
                        @if (Model.Activitys.Documents.Any())
                        {
                            <table class=" table table-striped">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Title</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var index = 1; }
                                    @foreach (var document in Model.Activitys.Documents)
                                    {
                                        <tr>
                                            <td>@index</td>
                                            <td>@Html.ActionLink(document.Title, "DownloadFile", new { id = document.Id })</td>
                                        </tr>
                                        index++;
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
                <hr />
            @Html.ActionLink(Messages.ВернутьсяНазад, "Index", "Home")
        </section>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $("#headmenu-4").attr("class", "active");
    </script>
}