﻿@using System.Globalization
@using Casep.Helper.Resources
@using PagedList.Mvc;
@model Casep.Models.ActivityExpressenModel
@{
    ViewBag.Title = Messages.СписокСобытий;
}

<div class="clearfix"></div>
<div class="wrapper">
    <section>
        <h2>@ViewBag.Title</h2>
    </section>

    <div class="list-news">
        <section class="contact">
                @*<input type="text" class="eventCalendar" />

                @*Детали о событие (при навидение)*@
                @*<div id="eventDetails"></div>*@

                @foreach (var activity in Model.EventPagging)
                {
                    <div class="events-list">
                        <span>@Messages.ДатаНачала :</span> @Html.Label(activity.DateEventStart.ToString(CultureInfo.InvariantCulture))
                        <span>@Messages.ДатаЗавершения :</span>@Html.Label(activity.DateEventEnd.ToString(CultureInfo.InvariantCulture))
                        <span>@Messages.Страна :</span>@Html.Label(activity.Country)
                        <span>@Messages.Местопроведения :</span>@Html.Label(activity.Location)
                        <span>@Messages.Заголовок :</span>@Html.Label(activity.Title)
                    </div>
                    <hr/>
                }
                @if ( Model.NeedPagging )
                    {
                        @Html.PagedListPager(Model.EventPagging, page => Url.Action("Events", new {page}))
                    }
        </section>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/DateTimePicker/jquery.datetimepicker.js"></script>
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $("#headmenu-4").attr("class", "active");
        $('.eventCalendar').datetimepicker({
            format: 'd.m.Y',
            inline: true,
            timepicker: false,
            lang: '@Model.SystemLanguage',
            eventLinks: '@Model.JsonActivityCollection'
        });
    </script>
}