﻿@using Casep.Helper.Resources
@using PagedList.Mvc;
@model Casep.Models.HomePage
@{
    ViewBag.Title = "CASEP";
}

<div class="brick">
    <div class="head-news">@Messages.ПоследниеНовости</div>
    <div class="list-news">
                
        <div class="news">
            @foreach (var post in Model.LastPosts)
            {
                <span class="date-news">@post.Date.ToString("D")</span>
                <br/>
                <p class="title">@Html.ActionLink(post.Title, "NewsDetails", new {id = post.Id})</p>
                @Html.DisplayText(post.MiniDescription)
            }
        </div>
                
        <div class="clearfix"></div><hr/>
        @Html.ActionLink(Messages.ВсеНовости, "Index", "Posts", null, new { @class = "allnews" })
        <div class="clearfix"></div><br/>
    </div>
</div>

<div class="brick" style="margin-left: 9px">
    <div class="head-news">@Messages.БДДокументов</div>
    <div class="list-news">
        @foreach (var document in Model.BasesDocument)
        {
            <div class="news">
                <span class="date-news">@document.Date.ToString("D")</span><br />
                <p class="title">@Html.ActionLink(document.Description, "DownloadFile", new { id = document.Document.Id })</p>
            </div>
        }

        @if ( Model.NeedPagging )
        {
            @Html.PagedListPager(Model.BasesDocument, page => Url.Action("Index", new { page }))
        }

        <div class="clearfix"></div><hr />
        @Html.ActionLink(Messages.ВсеДокументы, "BasesDocument", "Home", null, new { @class = "allnews" })
        <div class="clearfix"></div><br />
    </div>
</div>
<div class="brick about" style="margin-left: 9px">
    <a href="@Url.Action("About")">
        <img src="~/Images/Casep/demo/casep_13.png" />
        <p class="casep">CASEP</p>
        <p class="present">@Messages.Презентация</p>
    </a>
</div>

<div class="events">
    <div class="head-news" style="width: 230px;">@Messages.Мероприятия</div>
    <input type="text" class="eventCalendar" />

    @*Детали о событие (при навидение)*@
    <div class="eventDetails">
        <div id="eventDetails"></div>
    </div>
</div>



<div class="brick" style="display: none">
    <div id="slider-container">
        <div id="slider">
            <ul>
                <li><a href="#"><img src="~/images/Casep/demo/images_fon_17.png" alt="" /></a></li>
                <li><a href="#"><img src="~/images/Casep/demo/images_fon_17.png" alt="" /></a></li>
                <li><a href="#"><img src="~/images/Casep/demo/images_fon_17.png" alt="" /></a></li>
                <li><a href="#"><img src="~/images/Casep/demo/images_fon_17.png" alt="" /></a></li>
                <li><a href="#"><img src="~/images/Casep/demo/images_fon_17.png" alt="" /></a></li>
            </ul>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Scripts/DateTimePicker/jquery.datetimepicker.js"></script>
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/easySlider1.7.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#headmenu-1").attr("class", "active");

            $("#slider").easySlider({
                auto: true,
                continuous: true,
                nextId: "slider1next",
                prevId: "slider1prev"
            });

            $('#slider-container').hover(
                function () {
                    $("#slider-container").attr("class", "active_slider");
                },
                function () {
                    $("#slider-container").removeAttr("class", "active_slider");
                }
            );

            $('.eventCalendar').datetimepicker({
                format: 'd.m.Y',
                inline: true,
                timepicker: false,
                lang: '@Model.Activitys.SystemLanguage',
                eventLinks: '@Model.Activitys.JsonActivityCollection'
            });

        });

    </script>
    }
