﻿@model Casep.Admin.Models.BaseDocumentModel

@{
    ViewBag.Title = "Create document";
}
<section>
    <h1>@ViewBag.Title</h1>
</section>
<hr class="soften">

@using (Html.BeginForm("Create", "DocumentBase", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Partial("_createEditDocumentBase")
}

@section Scripts {    
     
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.js"></script>
    <script src="~/Scripts/PartialScript/CreateEditEvents.js"></script>
}