﻿@model IEnumerable<Casep.Domain.Entities.BasesDocument>

@{
    ViewBag.Title = "Events";
}

<section>
    <h1>@ViewBag.Title</h1>
</section>
<hr class="soften">
@using (Html.BeginForm())
{
    @Html.ActionLink("Add document", "Create", null, new { @class = "btn btn-info white fl-r text-decor-none" })
    <table class=" table table-striped">
        <thead>
            <tr>
                <th>№</th>
                <th>File name (ru)</th>
                <th>File name (en)</th>                                
            </tr>
        </thead>
        <tbody>
            @{ var index = 1; }
            @foreach (var m in Model)
            {
                <tr>
                    <td>@index</td>
                    <td>
                        @Html.ActionLink(m.DescriptionRu, "DownloadFile", new {id = m.Id, lang = "ru"})
                    </td>
                    <td>
                        @Html.ActionLink(m.DescriptionEn, "DownloadFile", new {id = m.Id, lang = "en"})
                    </td>                                                                                                   
                    <td class="btn-group">
                        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">                            
                            <li>@Html.ActionLink("Edit", "Edit", new { id = m.Id })</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Delete", "Delete", new { id = m.Id })</li>
                        </ul>
                    </td>
                </tr>
                index++;
            }
        </tbody>
    </table>
}
<hr class="soften">
