﻿@model IList<Casep.Domain.Entities.User>

@{
    ViewBag.Title = "Users panel";
}

<section>
    <h1>@ViewBag.Title</h1>
</section>

<hr class="soften">
@using (Html.BeginForm())
{
    <table class=" table table-striped">
        <thead>
            <tr>
                <th>№</th>
                <th>User</th>
                <th>Status</th>
                <th>Tools</th>
            </tr>
        </thead>
        <tbody>
            @{ var index = 1; }
            @foreach (var m in Model.Where(m => User.Identity.Name != m.UserName))
            {
                <tr>
                    <td>@index</td>
                    <td>@m.UserName</td>
                    <td>@if (m.IsActive){ <span>Active</span> } else { <span>Inactive</span> }</td>
                    <th>
                        @(m.IsActive
                            ? Html.ActionLink("Deactivate", "ActivateDiactivateProfile", new { id = m.Id, setActiv = false }, new { @class = "btn btn-warning white", style = "padding: 1px 6px; margin-right: 3px" })
                            : Html.ActionLink("Activate", "ActivateDiactivateProfile", new { id = m.Id, setActiv = true }, new { @class = "btn btn-success white", style = "padding: 1px 13px; margin-right: 3px" }))
                        @Html.ActionLink("Delete", "DeleteProfile", new {id = m.Id}, new {@class = "btn btn-danger white", style = "padding: 1px 6px"})
                    </th>
                </tr>
                index++;
            }
        </tbody>
    </table>
}
<hr class="soften">