﻿@model IEnumerable<Casep.Domain.Entities.Activitys>

@{
    ViewBag.Title = "Events";
}

<section>
    <h1>@ViewBag.Title</h1>
</section>
<hr class="soften">
@using (Html.BeginForm())
{
    @Html.ActionLink("Add event", "Create", null, new { @class = "btn btn-info white fl-r text-decor-none" })
    <table class=" table table-striped">
        <thead>
            <tr>
                <th>№</th>
                <th>Title</th>
                <th>Date start</th>
                <th>Date end</th>
                <th>Country</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            @{ var index = 1; }
            @foreach (var m in Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@m.TitleEn</td>
                    <td>@m.DateEventStart</td>                                        
                    <td>@m.DateEventEnd</td>                                        
                    <td>@m.CountryEn</td>                                        
                    <td>@m.LocationEn</td>                                        
                    <td class="btn-group">
                        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Details", "Details", new { id = m.Id })</li>
                            <li>@Html.ActionLink("Edit", "Edit", new { id = m.Id })</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Delete", "Delete", new { id = m.Id })</li>
                        </ul>
                    </td>
                </tr>
                index++;
            }
        </tbody>
    </table>
}
<hr class="soften">
