﻿@using Casep.Helper.Helpers
@using Casep.Helper.Resources
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        
        <!-- Start JavaScript -->
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        <script src="/Scripts/jquery.js"></script>
        <script src="/Scripts/google-code-prettify/prettify.js"></script>
        <script src="/Scripts/bootstrap-transition.js"></script>
        <script src="/Scripts/bootstrap-alert.js"></script>
        <script src="/Scripts/bootstrap-alert.js"></script>
        <script src="/Scripts/bootstrap-modal.js"></script>
        <script src="/Scripts/bootstrap-dropdown.js"></script>
        <script src="/Scripts/bootstrap-scrollspy.js"></script>
        <script src="/Scripts/bootstrap-tab.js"></script>
        <script src="/Scripts/bootstrap-tooltip.js"></script>
        <script src="/Scripts/bootstrap-popover.js"></script>
        <script src="/Scripts/bootstrap-button.js"></script>
        <script src="/Scripts/bootstrap-collapse.js"></script>
        <script src="/Scripts/bootstrap-carousel.js"></script>
        <script src="/Scripts/bootstrap-typeahead.js"></script>
        <script src="/Scripts/bootstrap-affix.js"></script>
        <script src="/Scripts/application.js"></script>
        <script src="/Scripts/superfish.js" type="text/javascript"></script>
        <script src="/Scripts/custom.js" type="text/javascript"></script>
        <!-- End JavaScript -->
        
        @{
            var args = new RouteValueDictionary();
            foreach (string key in Request.QueryString.Keys.Cast<string>().Where(key => !string.IsNullOrEmpty(key)))
            {
                args.Add(key, Request.QueryString[key]);
            }
            var lang = (args.ContainsKey("lang") ? (string)args["lang"] : null) ?? (Request.Cookies.AllKeys.Any(x => x == "lang") ? Request.Cookies.Get("lang").Value : LocaleUtil.RU);

            ViewBag.Lang = lang;

            if (args.ContainsKey("lang"))
            {
                args.Remove("lang");
            }

            args.Remove("lang");
            args.Add("lang", LocaleUtil.RU);

            string ruHref = ViewContext.RouteData.Route.GetVirtualPath(ViewContext.RequestContext, args).VirtualPath;
            args.Remove("lang");
            args.Add("lang", LocaleUtil.EN);

            string enHref = ViewContext.RouteData.Route.GetVirtualPath(ViewContext.RequestContext, args).VirtualPath;
        }


    </head>
    <body>
        <header class="content-wrapper">
            <div class="header-main-bg" style="display: none">
                <div class="header">
                    <a href="@Url.Action("Index", "Home")"><img class="logo" src="~/images/casep/demo/logo_05.png" alt="Logo"/></a>
                    <span class="CasepText">
                        @Messages.CasepТекст1 <br />
                        @Messages.CasepТекст2
                    </span>
                    <a href="#" class="link_flag"><img src="~/Images/Casep/demo/casep_07.png" alt="" /></a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="language">
                <div @(lang == LocaleUtil.EN ? "class=active" : "")>
                    <a href="@Url.Content(string.Format("~/{0}", enHref))">EN</a>
                </div>
                <div @(lang == LocaleUtil.RU ? "class=active" : "")>
                    <a href="@Url.Content(string.Format("~/{0}", ruHref))">RU</a>
                </div>
            </div>
            <div class="new-head">
                <a href="@Url.Action("Index", "Home")" class="casep"></a>
            </div>
            <div class="clearfix"></div>

            <ul class="header-main">
                @*<li>@Html.ActionLink("home", "Index", "Home", null, new { @id = "headmenu-1" })</li>*@
                <li>@Html.ActionLink(Messages.Онас, "About", "Home", null, new { @id = "headmenu-2" })</li>
                <li>@Html.ActionLink(Messages.Новости, "Index", "Posts", null, new { @id = "headmenu-3" })</li>
                <li>@Html.ActionLink(Messages.Мероприятия, "Events", "Home", null, new { @id = "headmenu-4" })</li>
                <li>@Html.ActionLink(Messages.БДДокументов, "BasesDocument", "Home", null, new { @id = "headmenu-5" })</li>
                <li>@Html.ActionLink(Messages.Контакты, "Contact", "Home", null, new { @id = "headmenu-6" })</li>
                <li style="position: absolute; width: @Messages.widthLinksUseful; ">
                    <a href="#" id="headmenu-7">@Messages.ПолезныеСсылки</a>
                    @Html.Partial("_LinksPartial")
                </li>
                <li class="fl-r flags"><img src="~/Images/Casep/flags.png" /></li>
            </ul>
            <div class="clearfix"></div>
        </header>
        
        <div class="clearfix"></div>

        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
            <br />
        </div>

        <div class="clearfix"></div><br/><hr class="soften" />
        <footer>
            <div class="content-wrapper">
                <div class="parnters">
                    <img src="~/Images/Casep/demo/flag_yellow_low.jpg" />
                    <img src="~/Images/Casep/demo/casep_21.png" />
                    <div class="clearfix"></div><br/>
                    THIS PROGRAMME IS FUNDED BY THE EUROPEAN UNION
                </div>
                <div class="footer-menu">
                    <div class="float-left">
                        <p>&copy; @DateTime.Now.Year - CASEP</p>
                    </div>
                </div>
            </div>
        </footer>
        
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", false)
    </body>
</html>