﻿@model Casep.Domain.Entities.About
@{
    ViewBag.Title = "About Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<hr class="soften">

<fieldset class="form-horizontal" id="details-about">
    <legend>About Us</legend>
    <div class="tabbable" style="margin-bottom: 18px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Русский</a></li>
            <li><a href="#tab2" data-toggle="tab">English</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <ol>
                    <li>
                        @Html.Label("О нас")
                        @Html.DisplayTextFor(m => m.AboutUsRus)
                    </li>
                    <li>
                        @Html.Label("Команда")
                        @Html.DisplayTextFor(m => m.TeamRus)
                    </li>
                    <li>
                        @Html.Label("Контакты")
                        @Html.DisplayTextFor(m => m.ContactsRus)
                    </li>
                </ol>
            </div>
            <div class="tab-pane" id="tab2">
                <ol>
                    <li>
                        @Html.Label("About Us")
                        @Html.DisplayTextFor(m => m.AboutUsEng)
                    </li>
                    <li>
                        @Html.Label("Team")
                        @Html.DisplayTextFor(m => m.TeamEng)
                    </li>
                    <li>
                        @Html.Label("About Us")
                        @Html.DisplayTextFor(m => m.ContactsEng)
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="bs-docs-example">
        @Html.ActionLink("Edit", "EditAbout", null, new { @class = "btn btn-primary white" })
    </div>
</fieldset>
