﻿@model Casep.Domain.Entities.About

@{
    ViewBag.Title = "Edit About Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<hr class="soften">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset class="form-horizontal">
        <legend>About Us</legend>
        <div class="tabbable" style="margin-bottom: 18px;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Русский</a></li>
                <li><a href="#tab2" data-toggle="tab">English</a></li>
            </ul>
            @Html.HiddenFor(m => m.Id)
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.AboutUsRus)
                            @Html.EditorFor(m => m.AboutUsRus)
                            @Html.ValidationMessageFor(m => m.AboutUsRus, null, new { @class = "help-inline" })
                        </li>
                        <li>
                            @Html.LabelFor(m => m.TeamRus)
                            @Html.EditorFor(m => m.TeamRus)
                            @Html.ValidationMessageFor(m => m.TeamRus, null, new { @class = "help-inline" })
                        </li>
                        <li>
                            @Html.Label("Контакты")
                            @Html.EditorFor(m => m.ContactsRus)
                            @Html.ValidationMessageFor(m => m.ContactsRus, null, new { @class = "help-inline" })
                        </li>
                    </ol>
                </div>
                <div class="tab-pane" id="tab2">
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.AboutUsEng)
                            @Html.EditorFor(m => m.AboutUsEng)
                            @Html.ValidationMessageFor(m => m.AboutUsEng, null, new { @class = "help-inline" })
                        </li>
                        <li>
                            @Html.LabelFor(m => m.TeamEng)
                            @Html.EditorFor(m => m.TeamEng)
                            @Html.ValidationMessageFor(m => m.TeamEng, null, new { @class = "help-inline" })
                        </li>
                        <li>
                            @Html.Label("Contacts")
                            @Html.EditorFor(m => m.ContactsEng)
                            @Html.ValidationMessageFor(m => m.ContactsEng, null, new { @class = "help-inline" })
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="bs-docs-example">
            <button type="submit" class="btn btn-primary">Save changes</button>
            @Html.ActionLink("Cancel", "About", null, new { @class = "btn" })
        </div>
    </fieldset>
}

@section Scripts {
    <script src="~/Scripts/ckeditor_4.3.2_full/ckeditor/ckeditor.js"></script>

    <script type="text/javascript">
        CKEDITOR.replace('AboutUsRus');
        CKEDITOR.replace('TeamRus');
        CKEDITOR.replace('AboutUsEng');
        CKEDITOR.replace('TeamEng');
        CKEDITOR.replace('ContactsEng');
        CKEDITOR.replace('ContactsRus');
    </script>
}